verifica/Acconti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="clienti">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="cliente" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codiceCliente" type="xs:string"/>
                            <xs:element name="descrizioneCliente" type="xs:string"/>
                            <xs:element name="acconto" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>